* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: min(95%, 1200px);
    background-color: rgba(116, 30, 30, 0.322);
    margin: 0 auto;
    padding: 5px 10px;
}

#seccion {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: green; */
}

.div {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}